$red:rgb(185, 37, 37);
#embroidery-img {
    max-width: 100%;
    height: auto;
}

#embroidery-text {
    text-align: justify;
    width: 50%;
}

.website-header {
    margin-bottom: 10%;
}

.main-text {
    display: flex;
    align-items: center;
    padding: 100px;
}

@media only screen and (max-width: 600px) {
    h1,
    h2,
    #embroidery-text {
        width: 100%;
    }
    h1 {
        margin: 20px 0;
    }
    .navbar-toggler-icon {
        background-image: url('../images/menu.jpg');
    }
    .navbar-collapse {
        background-color: white;
        z-index: 16;
    }
}

.nav-links-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    a {
        color: black;
        font-size: 14px !important;
        &:hover {
            border-bottom: solid 1px $red;
        }
        &:active {
            border-bottom: solid 1px $red;
        }
    }
    i {
        width: 40px;
        height: 20px;
        margin: 10px 0 0 10px;
    }
    .nav-item {
        margin: 0 15px;
        text-align: right;
    }
}

.navbar-brand {
    img {
        height: 50px;
        width: 50px;
    }
}

body {
    margin: 0;
    padding: 0 5%;
}

.undrline-red {
    border-bottom: solid 1px $red;
}